/*Header*/
header {
    background: linear-gradient(to right, rgb(38, 98, 228), rgb(8, 22, 150));
    font-family: Leelawadee UI;;
    align-items: center;
    font-size: 1.3rem;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    padding: 7.5px;
    z-index: 100;
    position: sticky;
    top:0;
}header img{
    width: 7rem;
    padding-left: 12.4px;
}
header .top{
    padding-bottom: 7.5px;
    display: relative;
}header .bottom{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
header .top a{
    text-decoration: none;
    margin: 12.5px;
    color: #FFF;
    transition: .4s;
}header .bottom a{
    text-decoration: none;
    margin-right: 15px;
    color: #FFF;
    transition: .4s;
}header .top a:hover,
header .bottom a:hover{
    text-decoration: underline;
    background-color: #040421;
    padding: 10px;
    transition: .4s;
}

/*Body*/
html,
body{
  position: relative;
  height: 100%;
}
body{
  font-family: Leelawadee UI;;
  margin: 0;
  padding: 0;
}
.MainTitle{
    font-size: 30px;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 0%;
  }
  .MainSubTitle{
    font-size: 20px;
    padding-left: 15px;
    margin-top: 15px;
  }